
<div class="container">
  <div class="videoHeader">
      <video width="100%" autoplay loop poster="/assets/vid/graph.jpg" id="bgvid">
        <source src="/assets/vid/graph.mp4" type="video/mp4">
      </video>
          <div class="overlay grid-block">
            <div class="grid-content">
                  <h1>HTML5 Video</h1>
                  <p>HTML5 Video overlay example, quite popular with a lot of creative sites.</p>
                  <p>View <a target="_BLANK" href="http://demosthenes.info/blog/777/Create-Fullscreen-HTML5-Page-Background-Video">Original</a> demo for best experience.</p>
                  <p><a target="_BLANK" href="http://codepen.io/doddsy105/full/rtcbE/">Fullscreen</a></p>
              </div>
          </div>

  </div>
</div>


<div class="grid-container">  <!--- container --->
  <h1>Welcome to Foundation for Apps!</h1>
  <p class="lead">This is version <strong>1.1 Weisshorn</strong>.</p>

  <br>
  <br>
  <br>
  <br>

  <div class="grid-block features">   <!--- product features --->
     <div class="medium-4 grid-content">
       <div class="round-icon">
         <span class="fi-widget"></span>
       </div>
       <h3>Adipiscing Elit</h3>
       <hr>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus.</p>
     </div>
     <div class="medium-4 grid-content">
       <div class="round-icon">
         <span class="fi-graph-bar"></span>
       </div>
       <h3>Adipiscing Elit</h3>
       <hr>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus.</p>
     </div>
     <div class="medium-4 grid-content">
       <div class="round-icon">
         <span class="fi-download"></span>
       </div>
       <h3>Adipiscing Elit</h3>
       <hr>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus.</p>
     </div>
   </div>    <!--- product-features final --->

  <div class="grid-block">  <!--- card-section --->

    <div class="dark card small-offset-2 medium-offset-4 large-offset-4"></div> <!--- offset --->

    <div class="dark card small-8 medium-4 large-4"> <!--- card --->
        <img src="http://placekitten.com/g/400/200">
      <div class="card-divider" style="text-align:center">
        Universidad Adolfo Ibáñez
      </div>
        <div class="card-section">
            <h4 style="text-align:center">Orienta.Uai</h4>
            <p style="text-align:justify">The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
    </div>

    <div class="dark card small-offset-2 medium-offset-4 large-offset-4"></div> <!--- offset --->

  </div>  <!--- card-section-final --->
  <br>

</div> <!--- end container --->
