
  <img width="100%" src="/assets/img/lineback.png"/ id="headerimg">
    <div id="wrapper grid-content">
      <div class="grid-container" style="">

                <br>
                <br>

                <div class="grid-block"> <!--- logo --->
                  <div  class="small-12 grid-content">
                        <img src="/assets/img/InsightToolsBlack.png" class="logoCenter"/>
                      <p style="text-align:justify"><b>InsightTools©</b> es un servicio desarrollado para facilitar los procesos de adquisición y recopilación de datos, análisis e informe de resultados. Actualmente enfocado en el área académica, InsightTools© pretende ser un aporte para todo –o parte de– el proceso de manejo y análisis de datos, facilitando los procesos de investigación académica.</p>
                  </div>
                </div>




          <div  class="grid-block step-by-step-style-two">
            <div  class="small-12 large-4 grid-content">
              <div class="path-item">
                <div class="circlenumber">
                  <img src="/assets/img/collectdata.png"/>
                </div>
                <h4 style="text-align:center;padding-right:20px;">Recolección</h4>
                <p style="text-align:justify">Ayudamos y facilitamos el proceso de recopilación de datos para su análisis posterior. Trabajamos con varios servicios de recopilación de datos y encuestas, buscando siempre la flexibilidad que se requiera en el proceso de toma de datos.</p>
              </div>
            </div>
            <div  class="small-12 large-4 grid-content">
              <div class="path-item">
                <div class="circlenumber">
                  <img src="/assets/img/analytic.png"/>
                </div>
                <h4 style="text-align:center;padding-right:20px;">Análisis</h4>
                <p style="text-align:justify">Nos encargamos del análisis de los datos, tanto los obtenidos desde nuestros servicios, como análisis de datos externos. Usando diferentes herramientas, buscamos la mayor profundidad y seriedad en este proceso, el cual es fundamental.</p>
              </div>
            </div>
            <div  class="small-12 large-4 grid-content">
              <div class="path-item">
                <div class="circlenumber">
                  <img src="/assets/img/dotline.png"/>
                </div>
                <h4 style="text-align:center;padding-right:20px;">Resultados</h4>
                <p style="text-align:justify">Entregamos los resultados de la forma más cara posible, de modo que pueda ser comprensible para todos a los que se le exponga. Creemos que una buena visualización de los datos es clave en el proceso de su comprensión.</p>
              </div>
            </div>
          </div>    <!--- end 1,2,3 circles --->

</div> <!--- container --->

</div>


<!---

<img alt="full screen background image" src="/assets/img/lineback.png" id="full-screen-background-image" />
 <div id="wrapper">
   <p>Content goes here...</p>
 </div>

 --->
